#information-e{
  margin: 80px 20px;
}
.flex-e{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons-e{
    font-size: larger;
    margin: 20px 0px;
    font-weight: bolder;
    size: 2rem;
    content: icon;
}