.content-home{
   margin: 100px 50px;
   
}
#content-1{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#head-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}